{{template "header" .Page}}

<form action="/{{.Page}}" method="post">
    <label>Value to convert:
        <input type="number" step="any" name="num" id="num">
    </label>
    <label>Unit to convert from:
        <select name="from" id="from">
            {{range .Values}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
    </label>
    <label>Value to convert to:
        <select name="to" id="to">
            {{range .Values}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
    </label>
    <input type="submit">
</form>

{{template "footer"}}