{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.}}</title>
    <link rel="stylesheet" href="/files/style.css">
</head>
<body>
    <div id="content">
        <header>
            <a href="/distance" {{if eq . "distance"}}class="selected"{{end}}><h2>Distance</h2></a>
            <a href="/weight" {{if eq . "weight"}}class="selected"{{end}}><h2>Weight</h2></a>
            <a href="/temperature" {{if eq . "temperature"}}class="selected"{{end}}><h2>Temperature</h2></a>
        </header>
        <main>
{{end}}