    {{template "header"}}
    <form action="/temperature" method="post">
        <label for="num">Value to convert:</label>
        <input type="number" step="any" id="num" name="num">
        <label for="from">Unit to convert from:</label>
        <select name="from" id="from">
            <option value="celsius">Celsius</option>
            <option value="fahrenheit">Fahrenheit</option>
            <option value="kelvin">Kelvin</option>
        </select>
        <label for="to">Unit to convert to:</label>
        <select name="to" id="to">
            <option value="celsius">Celsius</option>
            <option value="fahrenheit">Fahrenheit</option>
            <option value="kelvin">Kelvin</option>
        </select>
        <input type="submit" value="submit">
    </form>
    {{template "footer"}}